.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

.group981,
.link {
  position: relative;
}

.group981 {
  width: 112px;
  height: 69.8px;
  object-fit: cover;
}

.link {
  line-height: 150%;
  font-weight: 600;
  font-size: larger;
  
}

.link:hover {
  transition: background-image 0.5s ease-in-out, -webkit-text-fill-color 0.5s ease-in-out; /* Smooth transition for the background and text color change */
  background-image: linear-gradient(to bottom, rgb(243, 103, 9), #4669f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.column,
.column1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.column1 {
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-5xl);
}

.column {
  flex-direction: column;
}

.columnWrapper {
  width: 558px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 var(--padding-57xl);
  box-sizing: border-box;
}

.mingcutetelegramFillIcon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.mingcutetelegramFillParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}

.group981Parent,
.links {
  width: 156px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.group981Parent {
  width: 100%; /* Adjust width as needed */
  height: 96px;
  justify-content: center;
  gap: var(--gap-255xl);
}

.enterTheOmniverse {
  margin: 0;
}

.enterTheOmniverseContainer,
.poweredByOmni {
  position: relative;
  text-transform: uppercase;
  
}

.enterTheOmniverseContainer {
  width: 865.8px;
  line-height: 100%;
  display: inline-block;
  background: linear-gradient(167.84deg, #ef592b 18.5%, transparent 60.5%),
    #b7bbf6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.poweredByOmni {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--font-vcr-osd-mono);
  text-align: left;
}

.enterTheOmniverseConquerTParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.heading {
  position: relative;
  line-height: 120%;
  text-transform: uppercase;
}

.headingWrapper {
  border-radius: var(--br-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-17xl);
  background-image: url(/public/frame-340@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transition: background-image 0.5s ease-in-out; /* Smooth transition for the background change */
}

/* Add this for the hover effect */
.headingWrapper:hover {
  background-image: linear-gradient(to bottom, rgba(251, 93, 44, 1), #2D4DCE);
}


.frameContainer,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.frameWrapper {
  position: absolute;
  top: 220px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-lavender);
}

.frameGroup {
  width: 100%; /* Adjust width as needed */
  position: relative;
  height: 302px;
  text-align: center;
  font-size: var(--font-size-53xl);
  color: var(--color-white);
  font-family: var(--font-formula-condensed);
}

.frameParent,
.homepage,
.homepageInner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.frameParent {
  flex: 1;
  align-items: center;
  padding: 0 var(--padding-61xl);
  gap: var(--gap-167xl);
}

.homepage,
.homepageInner {
  height: 900px;
  align-items: flex-start;
}

.homepageInner {
  /* Removed background-image property */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.homepage {
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--color-gray-100);
  font-family: var(--font-hubot-sans);
}
